body {
    background: url("https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/thumbnails/image/pia20052-spitzer_wise20151003.png") center fixed no-repeat;
    /* background-size: cover;*/
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
    /*background-color: #FEFAEC;*/
    background-color: #050537;
    margin-top: 80px;
    margin-left: 80px;
    margin-right: 80px;
    padding: 10px;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    line-height: 80px;
    background-color: white;
    align-items: center;
    color: black;
}

header * {
    display: inline;
    height: 80px;
}

header li {
    margin-left: 20px;
}

body a:link {
    color: red;
}

header a:link {
    color: blue;
}

h1, h2, h3, h4, p {
    width: 1000;
}

#hero .profile-img {
    border-radius: 50%;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color:black;
  height: 1px;
}

footer {
    text-align: center;
    padding: 50px;
}
