body {
    background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ), url("https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/thumbnails/image/pia20052-spitzer_wise20151003.png") center fixed no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    /*background-color: #FEFAEC;*/
    background-color: hsl(238, 12%, 17%);
    margin-top: 80px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 10px;
    /*overflow: hidden;*/
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    line-height: 80px;
    background-color: white;
    align-items: center;
    color: black;
}

header * {
    display: inline;
    height: 80px;
}

header li {
    margin-left: 20px;
}

body a:link {
    color: #57D3FF;
}

body a:visited {
    color: red;
}

header a:link {
    color: blue;
}

header a:visited {
    color: purple;
}

h1, h2, h3, h4 {
    width: 1000;
    text-align: center;
}

p {
    width: 1000;
}

#hero .head-img {
    border-radius: 10%;
}

#hero .profile-img {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.row {
    align-items: center;
    width: 1000;
    display: flex;
}

.column {
    align-items: center;
    width: 1000;
    flex: 40%;
    padding: 5px;
}

div.left_align {
    text-align: left;
}

hr {
    align-items: center;
    color: white;
    width: 1000;
    margin-top: 80px;
   /* margin-left: 150px;*/
}

footer {
    clear: both;
    position: fixed;
    left: 0;
    bottom: 0;
    margin-left: 150px;
    justify-content: left;
    align-items: center;
    text-align: left;
    font-size: 12px;
}
